---
title: Using the Archives
layout: using_archives
permalink: /about/
---

<div class="row">
	<div class="col-lg-6">

		<p class="lead">The archives are open to the public and anyone is welcome to visit and view the collections. </p>
		<ul>
			<li><a href="{{ site.url }}/visit">Visit the archives to view materials in-person</a></li>
				<ul><li><a href="{{ site.url }}/directions">Department Hours and Directions</a></li></ul>
			<li><a href="{{ site.url }}/reproductions">Request items for digitization</a></li>
			<li><a href="{{ site.url }}/use">View materials online</a></li>
				<ul><li><a href="{{ site.url }}/api">Computational Use of Archival Materials</a></li></ul>
			<li><a href="{{ site.url }}/publish_cite">Copyright, Publishing, and Citing</a></li>
		</ul>
	    
	    <p>
	    	<i class="fa fa-arrow-right" aria-hidden="true"></i>
			Learn about our <a href="{{ site.rooturl }}/description">Collecting Areas</a>
		</p>
	    
	</div>

	<div class="col-lg-6">
	    {% include online.html %}
	</div>
</div>

<div class="col-md-12 col-lg-10 offset-lg-1">
    {% include restrictions.html %}
</div>