---
title: Hours and Directions
layout: using_archives
permalink: /directions/
---


<div class="col-md-12">
    
    <!-- {% include closing.html %} -->
    <p>The M.E. Grenander Department of Special Collections and Archives is located on the third floor of the Science Library on the Uptown Campus of the University at Albany, <a href="https://maps.google.com/maps/dir//M.E.+Grenander+Department+of+Special+Collections+%26+Archives+Science+Library+350+1400+Washington+Ave+Albany,+NY+12222">1400 Washington Avenue, Albany, New York, 12222</a>.</p>
	<p>The Science Library is located on the south side of the academic podium between the Campus Center and the athletic fields.</p>

    <p><i class="fa fa-car" aria-hidden="true"></i>
    	<a href="https://www.google.com/maps/dir//Visitor+Parking+2,+Unnamed+Road,+Albany,+NY+12203/@42.6832332,-73.8219257,17z/">Driving directions</a>
    </p>
</div>

<div class="row">
	<div class="col-md-6">
		<div id="hours" class="pb-2 mt-4 mb-2 border-bottom">
		    <h2 class="h3"> Archive Hours</h2>
		</div>
		<table class="table hoursTable">
			<caption>
			    <b>
			      The Marcia Brown Research Room is open 9:00 A.M. - 5:00 P.M. Monday through Friday, except <a href="#holidays">State Holidays.</a>
				</b>
			</caption>
			<thead>
				<tr>
				<th scope="col">Day</th>
				<th scope="col">Hours</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				  <th scope="row">Monday</th>
				  <td>9:00am - 5:00pm</td>
				</tr>
				<tr>
				  <th scope="row">Tuesday</th>
				  <td>9:00am - 5:00pm</td>
				</tr>
				<tr>
				   <th scope="row">Wednesday</th>
				   <td>9:00am - 5:00pm</td>
				</tr>
				<tr>
				  <th scope="row">Thursday</th>
				  <td>9:00am - 5:00pm</td>
				</tr>
				<tr>
				  <th scope="row">Friday</th>
				  <td>9:00am - 5:00pm</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-md-12">
			    <p><a class="btn btn-lg btn-primary" href="{{ site.url }}/reference?visit">Schedule a Visit</a><p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div id="holidays" class="pb-2 mt-4 mb-2 border-bottom">
		    <h2 class="h3">Closed for State Holidays</h2>
		</div>
		<ol class="list-unstyled">
	        <li>New Year's Day</li>
	        <li>Dr. Martin Luther King, Jr. Day</li>
	        <li>Presidents' Day</li>
	        <li>Memorial Day</li>
	        <li>Juneteenth</li>
	        <li>Independence Day</li>
	        <li>Labor Day</li>
	        <li>Thanksgiving Day</li>
	        <li>Friday following Thanksgiving Day</li>
	        <li>Christmas Day</li>
	        <li><p>Additionally, the Science Library is commonly closed for some days during <a href="https://www.albany.edu/registrar/academic_calendar.php">Winter Intersession</a>. Please <a href="{{ site.url }}/reference">Contact Us</a> for details on this year's schedule.</p></li>
	    </ol>

	    <!-- {% include closing.html %} -->
	    
	    <!-- <div class="alert alert-warning" role="alert">
			<h5 class="alert-heading">
		        <i class="fa fa-info-circle" aria-hidden="true"></i>
		        Additional Closures
		    </h5>
		    <hr/>
		    We will also be closed on July 3rd, 2023
		</div>-->
	</div>
</div>

<div id="bus" class="pb-2 mt-4 mb-2 border-bottom">
    <h3>Take the Bus</h3>
</div>
<div class="col-md-12">
<p>Both UAlbany Buses and CDTA Bus Route 11 stop right outside the Science Library.</p>
    <ol class="list-unstyled">
        <li><a href="https://www.cdta.org/schedules-route-detail?route_id=11">CDTA Route 11</a></li>
        <li><a href="https://www.albany.edu/parking-transit/mass-transit#CDTA">UAlbany Bus Routes</a></li>
    </ol>
</div>

<div id="parking" class="pb-2 mt-4 mb-2 border-bottom"">
    <h3>Parking</h3>
</div>
<div class="col-md-12">
    <p>Visitor Lot 2 is an unattended parking lot. Once inside the Visitor Lot, credit cards are accepted. Visitor parking is $5.00 (US) for the day.</p>

    <p>After exiting your car, go to the opposite end of the Visitor Parking Lot from the entrance, turn right and walk along Indigenous Drive toward the Science Library.  There will be a dorm on your left side that you will pass.  The Science Library will be the white building directly in front of you and to the left.  Enter two sets of doors and turn left to enter the atrium area.  Proceed fully into the atrium to the elevators in the back.  Take an elevator to the third level, turn right when you exit the elevator and then turn right again in the hallway.  The entrance to Special Collections will be directly ahead of you.</p>

    <ol class="list-unstyled"><li><a href="https://www.albany.edu/parking-transit/parking/visitor-parking">More details on Visitor Parking</a></li></ol>

    <a href="{{ site.url }}/img/parking-map.pdf">
    	<img src="{{ site.url }}/img/parking-map.png" id="parking-map" class="img-fluid" alt="Image from linked parking map PDF.">
    </a>
</div>

<div id="links" class="pb-2 mt-4 mb-2 border-bottom"">
    <h3>Additional Useful Links</h3>
</div>
<div class="col-md-12">
	<ol class="list-unstyled">
	    <li><a href="http://www.albany.edu/map/">UAlbany Campus Maps and Directions</a></li>
	    <li><a href="https://www.albany.edu/about/our-campuses">UAlbany Campuses</a></li>
	    <li><a href="https://www.albany.org">Discover Albany</a></li>
	</ol>
</div>
