---
title: M.E. Grenander Department of Special Collections & Archives
layout: spe_base_2
---

<link rel="stylesheet" href="{{ site.url }}/css/ua/hyraxGallery.css" type="text/css"></link>
<link rel="stylesheet" href="{{ site.url }}/css/search-source.css"></link>
<link rel="stylesheet" href="{{ site.url }}/css/main-page.css"></link>
<script type="text/javascript" src="{{ site.url }}/js/searchOptions.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/new-online-content.js"></script>

<main id="main-container" class="container-fluid" role="main" aria-label="main-container">

	<section class="fill">

		<div class="row justify-content-center search-row">
			<div id="search-content" class="col-sm-12 col-md-12 col-lg-10 col-xl-8">
				{% include search_source.html %}
			</div>
		</div>


		<div class="row main-row pb-4">
			<div class="container">
				<div class="row">

					<div id="updates" class="anchor"></div>
					<div class="col-md-12 col-lg-6 pb-4 pt-4" id="updatesBlock">

						{% assign updates = site.updates | where: 'active', true | sort: 'sort_by' %}
						{% for update in updates limit: 5 %}
							{% if update.link %}
								{% assign update_link = site.url | append: update.link %}
							{% else %}
								{% assign update_link = site.url | append: update.url %}
							{% endif %}
							<a class="itemLink" href="{{ update_link }}" aria-label="{{ update.title }}">
								<div class="galleryItem img-thumbnail">
									{% if update.image %}
										<div class="galleryThumb">
											<img class="galleryImage" src="{{ site.url }}/{{ update.image }}" alt="{{ update.title }}">
										</div>
									{% endif %}
									<div class="galleryLabel">
										<h4>
											<p>{{ update.title }}</p>
										</h4>
											{% if update.image %}
												<p class="abstract">{{ update.content | strip_html | truncatewords: 25 }}</p>
											{% else %}
												<p class="abstract">{{ update.content | strip_html | truncatewords: 30 }}</p>
											{% endif %}
										{% if update.button_link and update.button_text %}
											<a class="btn btn-warning" href="{{ site.url }}/{{ update.button_link }}">{{ update.button_text }}</a>
										{% endif %}
									</div>
								</div>
							</a>
						{% endfor %}

					</div>


					<div id="news" class="anchor"></div>
					<div class="col-md-12 col-lg-6" id="newsBlock">
						<h3 class="pb-2 mt-4 mb-2 block-heading">New online content!</h3>
						<p>New digitized and born-digital records <a href="https://archives.albany.edu/catalog?search_field=all_fields&q=">available online</a>:</p>

						<div class="results"></div>

						<div class="placeholders">
							<h3 class="card-title placeholder-glow">
						      <span class="placeholder col-6"></span>
						    </h3>
						    <p class="card-text placeholder-glow">
						      <span class="placeholder col-7"></span>
						      <span class="placeholder col-4"></span>
						      <span class="placeholder col-4"></span>
						      <span class="placeholder col-6"></span>
						      <span class="placeholder col-8"></span>
						    </p>

						    <h3 class="card-title placeholder-glow">
						      <span class="placeholder col-6"></span>
						    </h3>
						    <p class="card-text placeholder-glow">
						      <span class="placeholder col-7"></span>
						      <span class="placeholder col-4"></span>
						      <span class="placeholder col-4"></span>
						      <span class="placeholder col-6"></span>
						      <span class="placeholder col-8"></span>
						    </p>

						    <h3 class="card-title placeholder-glow">
						      <span class="placeholder col-6"></span>
						    </h3>
						    <p class="card-text placeholder-glow">
						      <span class="placeholder col-7"></span>
						      <span class="placeholder col-4"></span>
						      <span class="placeholder col-4"></span>
						      <span class="placeholder col-6"></span>
						      <span class="placeholder col-8"></span>
						    </p>
						</div>
						<a class="btn btn-primary" href="https://archives.albany.edu/catalog?search_field=all_fields&q=">All Online Content</a>
					</div>
				</div>
			</div>
		</div>

	</section>

</main>