---
title: M.E. Grenander Department of Special Collections & Archives
layout: spe_base_2
---

<link rel="stylesheet" href="{{ site.url }}/css/ua/hyraxGallery.css" type="text/css"></link>
<link rel="stylesheet" href="{{ site.url }}/css/search-source.css"></link>
<link rel="stylesheet" href="{{ site.url }}/css/main-page.css"></link>
<script type="text/javascript" src="{{ site.url }}/js/searchOptions.js"></script>

<main id="main-container" class="container-fluid" role="main" aria-label="main-container">

	<section class="fill">

		<div class="row justify-content-center search-row">
			<div id="search-content" class="col-sm-12 col-md-12 col-lg-10 col-xl-8">
				{% include search_source.html %}
			</div>
		</div>


		<div class="row main-row pb-4">
			<div class="container">
				<div class="row">

					<div id="updates" class="anchor"></div>

					</div>


					<div id="news" class="anchor"></div>
					<div class="col-md-12 col-lg-6" id="newsBlock">
						<h3 class="pb-2 mt-4 mb-2 block-heading">Posts</h3>

						{% for post in site.posts limit: 2 %}
						<div class="entry">
							<h4><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h4>
							<p class="author">
							  	{% if post.author %}
							  		<span class="author">{{ post.author }}</span> - 
							  	{% endif %}
							    <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
							  </p>
							<p class="content">{{ post.content | strip_html | truncatewords: 40 }}</p>
						</div>
						{% endfor %}

						<a class="btn btn-primary" href="{{ site.url }}/blog">All Posts</a>
					</div>
				</div>
			</div>
		</div>

	</section>

</main>