---
title: M.E. Grenander Department of Special Collections & Archives
layout: spe_base_1
---
<link type="text/css" rel="stylesheet" media="all" href="oldDrupal/css/ua/mainPage.css" />
<script type="text/javascript" src="oldDrupal/js/headerAffix.js"></script>
<script type="text/javascript" src="oldDrupal/js/randomSlider.js"></script>
<script type="text/javascript" src="oldDrupal/js/randomCollections.js"></script>



<!--<script type="text/javascript">
$(window).on('load',function(){
  $('#myModal').modal('show');
});
</script>-->

<script>
$(document).ready(function(){
if(window.location.hash ===  "#submitModal") {
  $("#submitModal").modal("show");
} 
});
</script>


<!-- Carousel================================================== -->
<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0 active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		<li data-target="#myCarousel" data-slide-to="4"></li>
		<li data-target="#myCarousel" data-slide-to="5"></li>
		<li data-target="#myCarousel" data-slide-to="6"></li>
		<li data-target="#myCarousel" data-slide-to="7"></li>
		<!--<li data-target="#myCarousel" data-slide-to="8"></li>-->
	</ol>

	<!-- Wrapper for Slides -->
	<div class="carousel-inner topCarousel">
		<!--<div class="item active">
			<div class="fill" id="news" style="background-image:url('oldDrupal/img/1200/news1.jpg');"></div>
			<div class="carousel-caption darker">
				<h1>See You Next Year!</h1>
				<p class="lead">The Special Collections reading room will be closed to the public on Wednesday, December 18, 2019 and reopen on Monday January 6, 2020.</p>
                <a class="btn btn-large btn-primary" href="{{ site.url }}/scheduleVisit">Visit us in January!</a>
			</div>
		</div>-->
<div class="item active">
			<!-- Set the first background image using inline CSS below. -->
			<div class="fill" id="ua" style="background-image:url('oldDrupal/img/1200/ua3.jpg');"></div>
			<div class="carousel-caption box175">
				<img  class="logo175" src="https://archives.albany.edu/browse/img/175logo.png"/>
	      <div class="text175">
                               <h1>Celebrate 175!</h1>
				<p class="lead">Discover UAlbany's 175 years of history by exploring the University Archives online collections.</p>
				<a class="btn btn-large btn-primary" href="{{ site.url }}/university175">Learn More</a>
	</div>
			</div>
		</div>
<div class="item">
			<!-- Set the second background image using inline CSS below. -->
			<div class="fill" id="ndpa" style="background-image:url('oldDrupal/img/1200/ndpa1.jpg');"></div>
            <div class="carousel-caption leftSide darker">
				<!--<h1>Assess the Death Penalty</h1>
				<p class="lead">The National Death Penalty Archive documents researchers, writers, lawyers, and activists, on capital punishment in the United States</p>-->
				<!--<h1>Stories of the Executed</h1>-->
                                <h1>Missing Executions from 1860-1875 Mississippi</h1>
				<p class="lead">The Espy Project is digitizing records of executions and making them available for research use. Learn about some of the challenges we are facing.</p>
				<!--<a class="btn btn-large btn-primary" href="https://archives.albany.edu/browse/91.html">Death Penalty Collections</a>-->
<a class="btn btn-large btn-primary" href="{{ site.url }}/2019/05/20/missing_executions_from.html">Espy Project Update</a>
			</div>
		</div>
		<div class="item">
			<!-- Set the second background image using inline CSS below. -->
			<div class="fill" id="mpa" style="background-image:url('oldDrupal/img/1200/mpa3.jpg');"></div>
			<div class="carousel-caption">
				<h1>Explore New York State Politics</h1>
				<p class="lead">Research with over 350 collections that document New York State elected officials, interest groups, public policy, and activism.</p>
				<a class="btn btn-large btn-primary" href="https://archives.albany.edu/browse/apap.html">Political Collections</a>
			</div>
		</div>
		<div class="item">
			<!-- Set the third background image using inline CSS below. -->
			<div class="fill" id="brown" style="background-image:url('oldDrupal/img/1200/brown2.jpg');"></div>
			<div class="carousel-caption">
				<h1>Learn with Illustrations</h1>
				<p class="lead">Alumna and three-time Caldecott Medal winner Marcia Brown was an internationally renowned illustrator and author of children's books.</p>
				<a class="btn btn-large btn-primary" href="https://archives.albany.edu/description/catalog/mss005">Marcia Brown Papers</a>
			</div>
		</div>
		
		<div class="item">
			<!-- Set the third background image using inline CSS below. -->
			<div id="ger" class="fill" style="background-image:url('oldDrupal/img/1200/ger1.jpg');"></div>
			<div class="carousel-caption darker">
				<h1>Intellectuals in Exile</h1>
				<p class="lead">Collections of German-speaking intellectuals who fled the Nazi regime in the 1930s.</p>
				<a class="btn btn-large btn-primary" href="https://archives.albany.edu/browse/ger.html">German Intellectual Émigré</a>
			</div>
		</div>
		<div class="item">
			<!-- Set the third background image using inline CSS below. -->
			<div class="fill" id="kennedy" style="background-image:url('oldDrupal/img/1200/kennedy2.jpg');"></div>
			<div class="carousel-caption leftSide">
				<h1>William Kennedy Papers</h1>
				<p class="lead">Journalist, author, and Albany Icon, Kennedy documented corruption and won the Pulitzer Prize in Literature for <i>Ironweed</i>.</p>
				<a class="btn btn-large btn-primary" href="https://archives.albany.edu/description/catalog/mss132">Kennedy Papers</a>
			</div>
		</div>
		<div class="item">
			<!-- Set the third background image using inline CSS below. -->
			<div class="fill" id="unrest" style="background-image:url('oldDrupal/img/1200/unrest2.jpg');"></div>
			<div class="carousel-caption">
				<h1>Discover UAlbany's Radical Era</h1>
				<p class="lead">Expansion of the University in the 1960s fueled student activism. Learn about protests on campus that suspended classes in 1970.</p>
				<a class="btn btn-large btn-primary" href="{{ site.url }}/onthemake">University on the Make</a>
			</div>
		</div>
		<div class="item">
			<!-- Set the third background image using inline CSS below. -->
			<div class="fill" id="mathes" style="background-image:url('oldDrupal/img/1200/mathes1.jpg');"></div>
			<div class="carousel-caption leftSide darker">
				<h1>Explore Children's Literature</h1>
				<p class="lead">The Mathes collection includes over 12,000 children's books and periodicals published in the 19th century and up to 1960.</p>
				<a class="btn btn-large btn-primary" href="{{ site.url }}/mathes">Mathes Collection</a>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="icon-prev"></span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="icon-next"></span>
	</a>

</header>

<div class="row missionRow">
	<div class="container">
		<p>To <span>collect</span>, <span>preserve</span>, provide <span>access</span> to, and encourage <span>use</span></p>
	</div>
</div>




<!-- Content Row -->
<div class="row featuredSlider">
	<div class="container-fluid">
		<div class="container">
			<h4 class="page-header">Featured Collections</h4>
        </div>
		<div id="featuredContainer" class="container">
			<div id="collection" class="col-md-4 collection show">
				<h2>Vincent Schaefer Papers</h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/ua.html"><h5>University Archives</h5></a>
				<p>The Vincent J. Schaefer Papers represent the professional accomplishments and personal interests of the scientist who discovered cloud seeding. Schaefer spent more than 20 years with General Electric in Schenectady, New York, working his way up from apprentice, to research assistant, to research associate...</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/ua902-010">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection show">
				<h2>M. Watt Espy Papers</h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/91.html"><h5>National Death Penalty Archive</h5></a>
				<p>The M. Watt Espy Papers chronicle the extensive research efforts that led to the creation of the Capital Punishment Research Project and the database known as the Espy File. Espy spent three decades gathering and indexing documentation of legal executions in the United States.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/apap301">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection show">
				<h2>Michelle Crone Papers</h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/apap.html"><h5>New York State Modern Political Archive</h5></a>
				<p>The Michelle Crone Papers document her experience as a feminist and lesbian activist from the early 1980s until the mid-1990s. The collection includes material from here position as National Civil Disobedience Coordinator for the 1987 National March on Washington for Lesbian and Gay Rights, and as a member of the Executive Committee for the 1993 March on Washington for Lesbian, Gay, and Bi Equal Rights </p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/apap101">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>ACT UP Albany Chapter Records</h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/apap.html"><h5>New York State Modern Political Archive</h5></a>
				<p>This collection details records kept by the ACT UP organization committed to ending the AIDS crisis.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/apap106">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Alvin Ford Papers</h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/91.html"><h5>National Death Penalty Archive</h5></a>
				<p>This collection documents the seventeen-year period (1974-1991) concerning the Florida capital punishment case of Alvin Ford. The collection primarily contains the court records and research material of Ford's attorney, Laurin A. Wollan, Jr., as well as other members of the Ford defense team who began work on the case in 1981. The legal records include official court proceedings from the initial trial in 1974, appeals, attempts at clemency, and several cases by Ford against the Florida Department of Corrections. Other legal records include psychological reports, background reports, biographies of Ford, as well as his prison and medical records.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/apap159">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Hans Staudinger Papers</h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/ger.html"><h5>German Intellectual Émigré Collections</h5></a>
				<p>Staudinger was a Social Democratic Party member of the Reichstag until his removal by the Nazis in 1933; he was professor of economics at the University in Exile from 1934 and dean of the graduate faculty of the New School for Social Research at various times between 1941 and 1960.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/ger087">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>American Council for Émigrés in the Professions Records</h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/ger.html"><h5>German Intellectual Émigré Collections</h5></a>
				<p>Original files on more than a thousand "academically trained refugees" from Nazi Germany, as well as from Spain, France, and Italy. The files were kept by Else Maier Staudinger as director of the Scholars Project of the New School for Social Research.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/ger017">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Hugo A. Bedau Papers </h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/91.html"><h5>National Death Penalty Archive</h5></a>
				<p>Hugo A. Bedau (Ph.D., Harvard, 1961) is a commentator, scholar, and activist for the abolition of capital punishment. He is a prominent spokesperson in the abolitionist movement and well-known for his scholarship and writing concerning the death penalty and the challenge to separate logical arguments from moral arguments.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/apap199">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Leigh B. Bienen Papers </h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/91.html"><h5>National Death Penalty Archive</h5></a>
				<p>The Leigh Bienen Papers include the records of the New Jersey Proportionality Review Project, the Illinois Capital Punishment Reform Study Commission, and the academic research papers of legal scholar Leigh Bienen. The New Jersey records contain material from New Jersey Public Defender Homicide Study directed by Bienen in the mid-1980s. The collection also includes the records from Bienen’s involvement with the New Jersey Proportionality Review Project headed by Special Master David C. Baldus. Also present is material from Leigh Bienen's tenure on the Illinois Capital Punishment Reform Study Commission which resulted in the abolition of the death penalty in that state in 2011. Finally the collection contains Leigh Bienen's scholarly research material during her career teaching at both Princeton University and Northwestern University. Her research focused on proportionality review, the death penalty's monetary costs, and the role of prosecutor discretion.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/apap312">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Correctional Association of New York Records</h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/apap.html"><h5>New York State Modern Political Archive</h5></a>
				<p>The Correctional Association of New York Records includes records from the Board of Directors, annual reports, prison visit files, Narcotics Committee files, program and bureau files, project files, subject files, and publications. The only records of the organization available from the nineteenth century are the annual reports, which have been microfilmed and are available in the University Library.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/apap014">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Virginians for Alternatives to the Death Penalty Records</h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/91.html"><h5>National Death Penalty Archive</h5></a>
				<p>This collection contains materials used by Virginians for Alternatives to the Death Penalty (VADP) in its efforts to end capital punishment in Virginia. </p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/apap304">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Bernard Vonnegut Papers </h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/ua.html"><h5>University Archives</h5></a>
				<p>The Bernard Vonnegut Papers document Vonnegut's career as a researcher in the field of atmospheric science with a focus on his time at GE, Arthur Little, and the State University of New York at Albany. The collection includes technical memoranda, research, data, inventions and patent forms, equipment specifications, drawings, figures, handwritten notes, manuscripts, reports, correspondence, publicity materials, course materials, news clippings, photographs, memorabilia, and audio/video materials</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/ua902-068">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Anna E. Pierce Papers</h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/ua.html"><h5>University Archives</h5></a>
				<p>Namesake of Pierce Hall, she served as Dean of Women from 1913-1933, supported the construction of dorms for women and aided the institutionalization of <i>in loco parentis</i>.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/ua902-008">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Myskania Records </h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/ua.html"><h5>University Archives</h5></a>
				<p>The original student government of the State College for Teachers, founded in 1917. Myskania acted as a secret society which selected its own members, but its duties were gradually assumed by the Student Association and it was disbaned in 1979.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/ua800-001">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Helen Quirini Papers </h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/apap.html"><h5>New York State Modern Political Archive</h5></a>
				<p>This collection documents the life, work and activism of Helen Quirini of Schenectady, New York. The collection represents Quirini's numerous activities and interests including her early work owning a local market with her brother, her 39 year employment for General Electric, her activism in unions during her employment and retirement, as well as her charitable activities where she pursued civil, housing, pension, women's and senior citizen's rights. </p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/apap102">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Arthur H. Estabrook Papers</h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/apap.html"><h5>New York State Modern Political Archive</h5></a>
				<p>Papers of eugenics researcher Arthur Estabrook focus on racial integrity, sterilization of the mentally defective, venereal disease, intelligence, and criminality. Limited material is availible on the Jukes of New York state, the "Tribe of Ishmael" of Indiana, and the Carrie Buck trial.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/apap069">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>The New York State Tenants &amp; Neighbors Coalition Records </h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/apap.html"><h5>New York State Modern Political Archive</h5></a>
				<p>Tenants and Neighbors is a statewide coalition of New York's tenants and tenant associations that fight for tenants' rights and affordable housing for all people. The origins of Tenants and Neighbors dates to a meeting of tenant and housing activists from across the state in August 1972 at St. Rose College in Albany, N.Y. By December 1974, a formal organization was developed by housing and tenant activists across the state that drew up by-laws and created the original h2 as the New York Tenants Coalition. The first statewide membership meeting was held in February 1975. In 1995, the organization changed its h2 to New York State Tenants and Neighbors. T he collection includes: minutes, annual reports, newsletter and other publications, legislative and organizational memoranda, press releases, clippings, video and press coverage.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/apap198">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Woman's Club of Albany Records </h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/mss.html"><h5>Rare Books and Manuscripts</h5></a>
				<p>The Woman's Club of Albany Records document the day-to-day operations of the first 100 years of this community organization founded in 1910.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/mss139">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Walter A. Friedländer Papers</h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/ger.html"><h5>German Intellectual Émigré Collections</h5></a>
				<p>The Walter A. Friedländer (Friedlander) Papers consist of 45 archival boxes of materials, dating primarily from 1932 to 1984, with the bulk of material comprising Friedländer's voluminous correspondence (30 boxes). The collection also contains biographical materials, manuscripts and publications by Friedländer, as well as course materials and materials pertaining to national and international social welfare conferences, publications by other scholars, and materials collected by Friedländer on topics of interest, particularly social welfare topics.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/ger003">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Norman Studer Papers </h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/apap.html"><h5>New York State Modern Political Archive</h5></a>
				<p>The Norman Studer Papers document his career as both an educator and ardent Catskill folklorist. The collection includes significant material relating to his work as director of the Downtown Community School in New York City and Camp Woodland in the Catskills.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/apap116">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Environmental Advocates of New York Records</h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/apap.html"><h5>New York State Modern Political Archive</h5></a>
				<p>The Environmental Advocates of New York Records document the legislative activities of the organization from the 1980s through the late 1990s. The collection consists of correspondence, notes, meeting minutes, reports, memorandums, publications, news clippings, promotional material, as well as administrative files.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/apap104">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>Atlantic States Legal Foundation Records </h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/apap.html"><h5>New York State Modern Political Archive</h5></a>
				<p>The Atlantic States Legal Foundation Records document the environmental not-for-profit organization’s pollution reduction and environmental remediation projects and cases throughout the United States and territories. </p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/apap311">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>John H. Herz Papers</h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/ger.html"><h5>German Intellectual Émigré Collections</h5></a>
				<p>The John H. Herz Papers consist of documents and autobiographical materials, professional and personal correspondence, copies of Herz's published and unpublished writings, texts of numerous speeches and lectures, teaching materials, as well as Herz's research collections on topics relating to his writings and lectures.</p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/ger015">See Collection</a>
			</div>
			<div id="collection" class="col-md-4 collection">
				<h2>John H. E. Fried Papers</h2>
				<a class="typeLink text-right" href="https://archives.albany.edu/browse/ger.html"><h5>German Intellectual Émigré Collections</h5></a>
				<p>The John H. E. Fried Papers consist of his professional correspondence, copies of his published and unpublished writings (manuscripts, typescripts, reprints and books), texts of numerous speeches and lectures (published and unpublished), personal documents, teaching materials, as well as Fried's research collections on topics relating to global human rights problems and remedies. </p>
				<a class="btn btn-primary" href="https://archives.albany.edu/description/catalog/ger014">See Collection</a>
			</div>
		</div>
		<div id="featuredMore">
			<a><span class="glyphicon glyphicon-plus-sign"></span><br/>More</a>
		</div>
		
	</div>
</div>


		
		<div class="container-fluid">
		
        <!-- Portfolio Section -->
        <div class="row collectionRow">
            <div class="col-md-4 col-sm-6 collectionBox">
                <a href="https://archives.albany.edu/browse/apap.html">
                    <img class="img-responsive img-portfolio img-hover" src="oldDrupal/img/700/mpa700.jpg" alt="New York State Modern Political Archive">
					<div class="caption-box">
						<div class="caption">
							<div class="caption-name">New York State Modern Political Archive</div>
						</div>
					</div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 collectionBox">
                <a href="https://archives.albany.edu/browse/91.html">
                    <img class="img-responsive img-portfolio img-hover" src="oldDrupal/img/700/ndpa700.jpg" alt="National Death Penalty Archive">
					<div class="caption-box">
						<div class="caption">
							<div class="caption-name">National Death Penalty Archive</div>
						</div>
					</div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 collectionBox">
                <a href="https://archives.albany.edu/browse/ger.html">
                    <img class="img-responsive img-portfolio img-hover" src="oldDrupal/img/700/jewish_unity700.jpg" alt="German and Jewish Intellectual Émigré Collections">
					<div class="caption-box">
						<div class="caption">
							<div class="caption-name">German and Jewish Intellectual Émigré</div>
						</div>
					</div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 collectionBox">
                <a href="https://archives.albany.edu/browse/ua.html">
                    <img class="img-responsive img-portfolio img-hover" src="oldDrupal/img/700/stateSt700.jpg" alt="University Archives">
					<div class="caption-box">
						<div class="caption">
							<div class="caption-name">University Archives</div>
						</div>
					</div>
                </a>
            </div>
			<div class="col-md-4 col-sm-6 collectionBox">
                <a href="{{ site.url }}/mathes">
                    <img class="img-responsive img-portfolio img-hover" src="oldDrupal/img/700/mathes700.jpg" alt="Miriam Snow Mathes Historical Children's Literature Collection">
					<div class="caption-box">
						<div class="caption">
							<div class="caption-name">Mathes Children's Literature Collection</div>
						</div>
					</div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 collectionBox">
                <a class="halfWidth" href="https://archives.albany.edu/browse/mss.html">
                    <img class="img-responsive img-portfolio img-hover" src="oldDrupal/img/700/mss700.jpg" alt="Business and Literary Manuscripts">
					<div class="caption-box">
						<div class="caption">
							<div class="caption-name">Business &amp; Literary Manuscripts</div>
						</div>
					</div>
                </a>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6 collectionBox">
				<a class="halfWidth" href="{{ site.url }}/books">
                    <img class="img-responsive img-portfolio img-hover" src="oldDrupal/img/700/codex.jpg" alt="Rare Books">
					<div class="caption-box">
						<div class="caption">
							<div class="caption-name">Rare Books</div>
						</div>
					</div>
                </a>
            </div>
        </div>
        <!-- /.row -->
		</div>

		
		<div id="news" class="anchor"></div>
		<div class="row newsRow">
			<div class="container">
					<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" id="newsBlock">
						<h2 class="page-header">News</h2>

						{% for post in site.posts limit: 4 %}
						<div class="newsEntry">
							<h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
							<p class="author">
							  	{% if post.author %}
							  		<span class="author">{{ post.author }}</span> - 
							  	{% endif %}
							    <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
							  </p>
							<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
						</div>
						{% endfor %}

						<a class="btn btn-primary" href="{{ site.url }}/blog">All Posts</a>
					</div>

				</div>
			</div>
		</div>

<div id="submitModal" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Thank You for Your Request!</h4>
      </div>
      <div class="modal-body">
        <p>Thank you for your interest in the University at Albany Libraries' M.E. Grenander Department of Special Collections and Archives.</p>
        <p>An archivist will contact you within 3-5 business days to discuss your request.</p>
      </div>
<div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>