---
title: Pinocchio Catalogue
layout: using_archives
permalink: /pinocchio/
---

<div class="row">
	<div class="col-lg-6">

		<p class="lead">Being a Descriptive Bibliography and Printing History of English Language Translations and Other Renditions Appearing in the United States 1892-1987</p>
		<ul>
			<li><a href="{{ site.url }}/visit">How and Why This Came to Be</a></li>
				<ul><li><a href="{{ site.url }}/directions">Acknowledgements</a></li></ul>
			<li><a href="{{ site.url }}/reproductions">Definitions</a></li>
			<li><a href="{{ site.url }}/use">Notes on Publishers</a></li>
				<ul><li><a href="{{ site.url }}/api">References</a></li></ul>
			<li><a href="{{ site.url }}/publish_cite">Synoptic Tables:  Distinct Renditions by Earliest Known Date of Appearance</a></li>
			<li><a href="{{ site.url }}/publish_cite">Abbreivations Used in Entry Descriptions</a></li>
			<li><a href="{{ site.url }}/publish_cite">1892-1899</a></li>
			<li><a href="{{ site.url }}/publish_cite">1900-1909</a></li>
			<li><a href="{{ site.url }}/publish_cite">1910-1919</a></li>
			<li><a href="{{ site.url }}/publish_cite">1920-1929</a></li>
			<li><a href="{{ site.url }}/publish_cite">1930-1939</a></li>
			<li><a href="{{ site.url }}/publish_cite">1940-1949</a></li>
			<li><a href="{{ site.url }}/publish_cite">1950-1959</a></li>
		</ul>
	    
	    <p>
	    	<i class="fa fa-arrow-right" aria-hidden="true"></i>
			Learn about our <a href="{{ site.rooturl }}/description">Collecting Areas</a>
		</p>
	    
	</div>

	<div class="col-lg-6">
	    {% include online.html %}
	</div>
</div>

<div class="col-md-12 col-lg-10 offset-lg-1">
    {% include restrictions.html %}
</div>