---
title: Visiting the Archives
layout: using_archives
permalink: /visit/
---

<div class="col-md-12 mb-3">
    <div class="col-lg-8 offset-lg-2">
        <img id="visit" width="100%" class="img-responsive" src="{{ site.url }}/oldDrupal/img/visit1.jpg" alt="Image of researchers in the Marcia Brown Reading Room">
    </div>
</div>

<div class="col-md-12">
	<p>The archives are open to the public and anyone is welcome to visit and view the collections. </p>

    <div class="alert alert-danger" role="alert">
        <strong>COVID-19 Procedures</strong><br />
        Our usual access procedures have changed due to the COVID-19 crisis and the reading room is open <b>by appointment only</b>. Please review the <a href="{{ site.url }}/covid-19">COVID-19 Procedures</a> for more details.
    </div>
    
    <p>We understand that traveling to the archives is not always feasible, but most of our collections are only available for in-person viewing.</p>
                     
</div> 
    <div class="row">

    <div class="col-lg-7">
        <p>This requires:
            <ol>
                <li>Exploring our <a href="{{ site.rooturl }}/description">Collections<a/> to find what you would like to see.</li>
                <li>Traveling to the Science Library on the <a href="{{ site.url }}/directions">UAlbany Uptown Campus</a>.</li>
                <li>Visiting our Reading Room on the 3rd floor during <a href="{{ site.url }}/directions">business hours</a>.</li>
                <li>Requesting to view certain selections</li>
                <ul>
                    <li>"I would like to see the Narcotics Committee Files from the Correctional Association of New York Records"</li>
                    <li>"May I see Box 2 of Series 3 of the Helen Quirini Papers?"</li>
                    <li>"I would like to view the Myskania Records"</li>
                </ul>
            </ol>                    
        </p>
        <p><a class="btn btn-lg btn-primary" href="{{ site.url }}/reference?visit">Schedule a Visit</a><p>
    </div>

    <div class="col-lg-5">
        {% include online.html %}
    </div>                    
    
<div class="col-md-12">
    <p>While appointments are not usually necessary, we are currently requiring appointments in accordance with our <a href="{{ site.url }}/covid-19">COVID-19 Procedures</a>. Advance notice also helps staff ensure that the items you wish to view are available when you arrive. A small percentage of our collections are not stored in the Science Library and require additional time to transport to our Reading Room.</p>
    <!--<p>No appointment is necessary, but advance notice will help staff ensure that the items you wish to view are available when you arrive.  A small percentage of our collections are not stored in the Science Library and require additional time to transport to our Reading Room.  </p>-->
    <p>Researchers requesting to review unprocessed collections (those without finding aids or detailed inventories) should contact department staff in advance.</p>
    <p><i class="fa fa-clock-o" aria-hidden="true"></i> Check out <a href="{{ site.url }}/directions">Hours and Directions</a> for more details.</p>
      
    <div class="col-md-12 col-lg-10 offset-lg-1">
        {% include restrictions.html %}
    </div>           
</div>

<div id="rules" class="col-md-12">

    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h3>Reading Room Rules</h3>
    </div>

    <ul>
        <li>
            All visitors to the M.E. Grenander Department of Special Collections and Archives' Marcia Brown Research Room are required to sign in upon arrival and complete an "Application to Use Archival and Manuscript Collections" form. Access and use of Special Collections and Archives material is available under supervision in the Research Room during posted hours. The staff will retrieve materials for all researchers.</li>
        <li>
            Handle all books and manuscripts with care. Do not disturb the filing order of manuscripts, or write on anything placed on top of a book or manuscript. Leave all Special Collections and Archives materials in the Research Room when you leave.</li>
        <li>
            Please turn off all cell phones. If you need to use a cell phone, please leave the Research Room.
        </li>
        <li>
            Use a laptop, pencil, and notepaper or cards to take notes. If you need them, ask a member of the staff for a pencil and paper.
        </li>
        <li>
            Bags, backpacks, purses, and briefcases are not allowed in the Reading Room proper and should be stored in the lockers just inside the Research Room entrance. 
        </li>
        <li>
            No food or drink is permitted near the materials.
        </li>
        <li>
            Researchers are encouraged to bring a camera, digital camera, or cell phone to take an unlimited number of images of unrestricted collections free of charge. Staff also will digitally reproduce materials for researchers for a fee. Consult our <a href="{{ site.url }}/reproductions">fee schedule</a> to review what items may be reproduced.
        </li>
        <li>
            Users seeking to publish or reproduce either published or unpublished materials held in Special Collections and Archives must secure permission from those legally entitled to claim such rights under U.S. Copyright Law including the University Library. For additional information, consult the Department's Permission to Publish and Copyright Notice pages.
        </li>
        <li>
            The University Libraries assume no responsibility for the failure of a user to investigate and secure literary or reproduction rights to materials in collections.
        </li>
        <li>
            Please consult our <a href="{{ site.url }}/publish_cite">Copyright, Publishing, and Citing</a> guidance for more details.
        </li>
    </ul>

</div>