---
title: Visiting the Archives
layout: using_archives
permalink: /visit/
---

<div class="col-md-12 mb-3">
    <div class="col-lg-8 offset-lg-2">
        <img id="visit" width="100%" class="img-responsive" src="{{ site.url }}/oldDrupal/img/visit1.jpg" alt="Image of researchers in the Marcia Brown Reading Room">
    </div>
</div>

<div class="col-md-12">
	<p>The archives are open to the public and anyone is welcome to visit and view the collections. </p>

    <div class="alert alert-danger" role="alert">
        <strong>COVID-19 Procedures</strong><br />
        Our usual access procedures have changed due to the COVID-19 crisis and the reading room is open by appointment only. Please review the <a href="{{ site.url }}/covid-19">COVID-19 Procedures</a> for more details.
    </div>
    
    <p>We understand that traveling to the archives is not always feasible, but most of our collections are only available for in-person viewing.</p>
                     
</div> 
    <div class="row">

    <div class="col-lg-7">
        <p>This requires:
            <ol>
                <li>Exploring our <a href="{{ site.rooturl }}/description">Collections<a/> to find what you would like to see.</li>
                <li>Traveling to the Science Library on the <a href="{{ site.url }}/directions">UAlbany Uptown Campus</a>.</li>
                <li>Visiting our Reading Room on the 3rd floor during <a href="{{ site.url }}/directions">business hours</a>.</li>
                <li>Requesting to view certain selections</li>
                <ul>
                    <li>"I would like to see the Narcotics Committee Files from the Correctional Association of New York Records"</li>
                    <li>"May I see Box 2 of Series 3 of the Helen Quirini Papers?"</li>
                    <li>"I would like to view the Myskania Records"</li>
                </ul>
            </ol>                    
        </p>
        <p><a class="btn btn-lg btn-primary" href="{{ site.url }}/reference?visit">Schedule a Visit</a><p>
    </div>

    <div class="col-lg-5">
        {% include online.html %}
    </div>                    
    
<div class="col-md-12">
    <p>No appointment is necessary, but advance notice will help staff ensure that the items you wish to view are available when you arrive.  A small percentage of our collections are not stored in the Science Library and require additional time to transport to our Reading Room.  </p>
    <p>Researchers requesting to review unprocessed collections (those without finding aids or detailed inventories) should contact department staff in advance.</p>
    <p><i class="fa fa-clock-o" aria-hidden="true"></i> Check out <a href="{{ site.url }}/directions">Hours and Directions</a> for more details.</p>
      
      <div class="col-md-12 col-lg-10 offset-lg-1">
        {% include restrictions.html %}
    </div>           
</div>

<div id="rules" class="col-md-12">

    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h3>Reading Room Rules</h3>
    </div>

    <ul>
        <li>
            All visitors to the M.E. Grenander Department of Special Collections and Archives&#39; Marcia Brown Research Room are required to sign in upon arrival and may be asked to complete additional paperwork as necessary. Access and use of Special Collections and Archives material is available under supervision in the Research Room during posted hours. The staff will retrieve materials for all researchers.</li>
        <li>
            Handle all books and manuscripts with care. Do not disturb the filing order of manuscripts, or write on anything placed on top of a book or manuscript. Leave all Special Collections and Archives materials in the Research Room when you leave.</li>
        <li>
            Please turn off all cell phones. If you need to use a cell phone, please leave the Research Room.
        </li>
        <li>
        Use a laptop, pencil, and notepaper or cards to take notes. If you need them, ask a member of the staff for a pencil and paper.
        </li>
        <li>
        No food or drink is permitted near the materials.
        </li>
        <li>
        Visitors may use a digital camera or a mobile device to take photographs of materials in the Research Room.&nbsp; There is no charge, but researchers must first complete the &ldquo;Request for Use of Personal Digital Cameras&rdquo; form and submit a list of photographs taken to Department staff.
        </li>
        <li>
        The staff will create photocopies or pdf scans at 10 cents per page for in-person researchers and can arrange for other reproductions. Staff will determine if an item can be reproduced without damage to the original item. Restricted materials may not be reproduced in any form.&nbsp; For a complete list of fees, consult Department staff.
        </li>
        <li>
        Users seeking to publish or reproduce either published or unpublished materials held in Special Collections and Archives must secure permission from those legally entitled to claim such rights under U.S. Copyright Law including the University Library. For additional information, consult the Department&#39;s Permission to Publish and Copyright Notice pages.
        </li>
        <li>
            The University Libraries assume no responsibility for the failure of a user to investigate and secure literary or reproduction rights to materials in collections. Users should use the credit line &quot;Reproduced courtesy of the M.E. Grenander Department of Special Collections and Archives, University at Albany Libraries.&quot;
        </li>
    </ul>

</div>