<div class="alert alert-info" role="alert">
    <h5 class="alert-heading">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        Why are only some materials available online?
    </h5>
    <hr/>
    <p class="mb-0">Most of our records will never be digitized and will only be available for in-person viewing. This is because we hold tens of thousands of boxes of records. While we try to digitize our most heavily-used materials, it’s actually much easier and more affordable to maintain records on paper. If we spent all of our resources digitizing, we would not be able to preserve as many materials and many records would be lost.</p>
</div>