<div class="alert alert-warning" role="alert">
	<h2 class="h5 alert-heading">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        Access restrictions
    </h2>
    <hr/>
    Portions of the collections may be restricted from access, or be accessible only under certain conditions. We restrict materials to protect personal privacy or because of donor agreements and state records laws. We try to make these restrictions transparent and consistent, and feel free to ask us about restrictions if you have any questions.
</div>