<div class="d-flex align-items-center">
	<div class="navbar navbar-expand-sm search-source flex-fill">
		<div class="source-box container-fluid">
			{% if page.title == "M.E. Grenander Department of Special Collections & Archives" %}
				<div class="searchOptionsGroup">
					<h2 class="search-intro dropdown-toggle" id="searchOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Collections</h2>
					<div class="dropdown-menu" aria-labelledby="searchOptions">
						<a class="dropdown-item" href="#" id="searchAll">Collections</a>
						<a class="dropdown-item" href="#" id="searchArclight">Archives & Manuscripts</a>
						<a class="dropdown-item" href="#" id="searchHyrax">Online Content</a>
						<a class="dropdown-item" href="#" id="searchHistory">UAlbany History</a>
						<a class="dropdown-item" href="#" id="searchMathes">Mathes Childrens Literature</a>
						<a class="dropdown-item" href="#" id="searchPamphlets">Political Pamphlets</a>
						<a class="dropdown-item" href="#" id="searchBooks">Rare Books</a>
					</div>
				</div>
			{% else %}
				<h2 class="search-intro">Online Content</h2>
			{% endif %}
			{% include search_bar.html %}
		</div>
	</div>
</div>