<form class="search-query-form" action="{{ site.rooturl }}/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
    <div class="input-group">

        <input type="hidden" name="search_field" id="search_field" value="all_fields">
        <input name="q" id="params-q" value="" placeholder="Search..." class="search_q q form-control tt-input" type="text">
        <span class="input-group-append">
          <button type="submit" class="btn btn-primary search-btn" id="search">
            <span class="submit-search-text"></span>
            <i class="fa fa-search"></i>
          </button>
        </span>

    </div>
</form>