<h2 class="facets-heading">Search</h2>

<ul id="search-sources-menu" class="nav nav-pills flex-column search-sources">
  <li class="nav-item">
    <a class="nav-link search active" href="https://archives.albany.edu/search">Everything</a>
  </li>
  <li class="nav-item">
    <a class="nav-link description" href="https://archives.albany.edu/description">Archives & Manuscripts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link catalog" href="https://archives.albany.edu/catalog">Online Content</a>
  </li>
  <li class="nav-item">
    <a class="nav-link history" href="https://archives.albany.edu/history">UAlbany History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link mathes" href="https://archives.albany.edu/books?f[collecting_area_ssim][]=Mathes+Childrens+Literature">Mathes Childrens Literature</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pamphlets" href="https://archives.albany.edu/books?f[collecting_area_ssim][]=Political+Pamphlets">Political Pamphlets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link books" href="https://archives.albany.edu/books">Rare Books</a>
  </li>
</ul>
<div class="more-sources">
  <a class="btn btn-info btn-sm collapsed" data-toggle="collapse" href="#collapseSources" role="button" aria-expanded="false" aria-controls="collapseSources">
    More
  </a>
  <div class="collapse" id="collapseSources">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link search" href="https://archives.albany.edu/search">Everything</a>
      </li>
      <li class="nav-item">
        <a class="nav-link description" href="https://archives.albany.edu/description">Archives & Manuscripts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link catalog" href="https://archives.albany.edu/catalog">Online Content</a>
      </li>
      <li class="nav-item">
        <a class="nav-link history" href="https://archives.albany.edu/history">UAlbany History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mathes" href="https://archives.albany.edu/books?f[collecting_area_ssim][]=Political+Pamphlets">Mathes Childrens Literature</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pamphlets" href="https://archives.albany.edu/books?f[collecting_area_ssim][]=Political+Pamphlets">Political Pamphlets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link books" href="https://archives.albany.edu/books">Rare Books</a>
      </li>
    </ul>
  </div>
</div>
