---
layout: full_width
title: "Online Content"
---

<div class="p-1 pt-4">

<link rel="stylesheet" href="{{ site.url }}/css/search-source.css"></link>
<link rel="stylesheet" href="{{ site.url }}/css/ua/hyraxGallery.css" type="text/css"></link>
<script type="text/javascript" src="{{ site.url }}/js/hyraxGallery.js"></script>

<div class="row">

	<div class="oc-menu-sidebar col-3 mb-4">
		<div class="card oc-menu">

			<div class="card-body">
				<div class="card-title">
					<h3 class="">Outside Collecting Areas</h3>
				</div>
				<ul>
					{% for page in site.selections %}
						{% if page.top_level %}
							{% assign base_url = "https://archives.albany.edu/description/catalog/" | append: page.col_id | replace: ".", "-" %}
					        {% if page.permalink %}
					          {% assign full_url = site.url | append: page.url %}
					        {% elsif page.ref_id %}
					          {% assign full_url = base_url | append: "aspace_" | append: page.ref_id %}
					        {% else %}
					          {% assign full_url = base_url %}
					        {% endif %}

							{% unless page.collecting_area == "ua" %}
								<a class="list-group-item list-group-item-primary" href="{{ full_url }}">{{ page.title }}</a>
							{% endunless %}
						{% endif %}
					{% endfor %}
				</ul>

				<div class="card-title">
					<h3 class="">University Archives</h3>
				</div>
				<ul>
					{% for page in site.selections %}
						{% if page.top_level %}
							{% assign base_url = "https://archives.albany.edu/description/catalog/" | append: page.col_id | replace: ".", "-" %}
					        {% if page.permalink %}
					          {% assign full_url = site.url | append: page.url %}
					        {% elsif page.ref_id %}
					          {% assign full_url = base_url | append: "aspace_" | append: page.ref_id %}
					        {% else %}
					          {% assign full_url = base_url %}
					        {% endif %}

							{% if page.collecting_area == "ua" %}
								<a class="list-group-item list-group-item-primary" href="{{ full_url }}">{{ page.title }}</a>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>

			</div>
		</div>

	</div>

	<div class="col-12 col-lg-9 mb-4">
		<div class="card">

			<div class="card-body">
				<div class="card-title">
					<h3 class="display-4">Online Content</h3>
				</div>

				<p class="lead">Portions of collections that were selected to be digitized or were "born-digital."</p>
			
				<p>The M.E. Grenander Department of Special Collections & Archives holds tens of thousands of cubic feet of Archives & Manuscript material. For most of these materials, it is not feasible to digitize items and maintain those digital files long into the future. Instead we try to digitize the most highly valued and often used records so they can be made available online and used widely, even though this represents a small fraction of the department's holdings. Additionally, some online content was "born-digital," or created digitally as PDFs, image files, office documents, etc.</p>
					
				<p>In some cases entire file series or collections are available online, yet often online materials are interspersed throughout the department's Archives & Manuscript materials. We continue to add to online materials over time. You can <a href="{{ site.url }}/reproductions">request items for digitization</a> subject to the department's <a href="{{ site.url }}/reproductions#fee_schedule">Digital Reproduction Fee schedule</a>.</p>


			</div>


			<div class="card-body">

				<div class="row">

					<div class="col-lg-6">
						<div class="pb-2 mb-2 border-bottom">
							<h3>Outside Collecting Areas</h3>
						</div>
						<div class="card-group">

							{% for page in site.selections %}

								{% unless page.col_id contains "ua" %}

									{% if page.top_level %}
										{% assign base_url = "https://archives.albany.edu/description/catalog/" | append: page.col_id | replace: ".", "-" %}
										{% if page.permalink %}
								          {% assign full_url = site.url | append: page.url %}
								        {% elsif page.ref_id %}
								          {% assign full_url = base_url | append: "aspace_" | append: page.ref_id %}
								        {% else %}
								          {% assign full_url = base_url %}
								        {% endif %}

										<a class="itemLink" href="{{ full_url }}">
											<div class="galleryItem img-thumbnail">
												<div class="galleryThumb">
													{% if page.img_id %}
										              <img id="{{ page.url }}" class="galleryImage" src="https://media.archives.albany.edu/{{ page.col_id }}/{{ page.img_id }}/thumbnail.jpg" alt="{{ page.title }}" />
										            {% elsif page.img %}
										              <img id="{{ page.url }}" class="galleryImage" src="{{ page.img }}" alt="{{ page.title }}" />
										            {% endif %}
												</div>
												<div class="galleryLabel">
													<h4>
														<p>{{ page.title }}</p>
													</h4>
												</div>
											</div>
										</a>

									{% endif %}

								{% endunless %}


							{% endfor %}
						</div>
					</div>
						

						<div class="col-lg-6">
							<div class="pb-2 mb-2 border-bottom">
								<h3>University Archives</h3>
							</div>
							<div class="card-group">

							{% for page in site.selections %}

								{% if page.col_id contains "ua" %}

									{% if page.top_level %}
										{% assign base_url = "https://archives.albany.edu/description/catalog/" | append: page.col_id | replace: ".", "-" %}
								        {% if page.permalink %}
								          {% assign full_url = site.url | append: page.url %}
								        {% elsif page.ref_id %}
								          {% assign full_url = base_url | append: "aspace_" | append: page.ref_id %}
								        {% else %}
								          {% assign full_url = base_url %}
								        {% endif %}

										<a class="itemLink" href="{{ full_url }}">
											<div class="galleryItem img-thumbnail">
												<div class="galleryThumb">
													{% if page.img_id %}
										              <img id="{{ page.url }}" class="galleryImage" src="https://media.archives.albany.edu/{{ page.col_id }}/{{ page.img_id }}/thumbnail.jpg" alt="{{ page.title }}" />
										            {% elsif page.img_url %}
										              <img id="{{ page.url }}" class="galleryImage" src="{{ page.img_url }}" alt="{{ page.title }}" />
										            {% elsif page.img %}
										              <img id="{{ page.url }}" class="galleryImage" src="{{ page.img }}" alt="{{ page.title }}" />
										            {% endif %}
												</div>
												<div class="galleryLabel">
													<h4>
														<p>{{ page.title }}</p>
													</h4>
												</div>
											</div>
										</a>
									{% endif %}

								{% endif %}


							{% endfor %}
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>

</div>