---
layout: one_column
title: "Digital Selections"
---

<link rel="stylesheet" href="{{ site.url }}/css/ua/hyraxGallery.css" type="text/css"></link>
<script type="text/javascript" src="{{ site.url }}/js/hyraxGallery.js"></script>

<div class="col-md-12">

	<p>"Digital Selections" are items that are available online because they have been digitized or were "born-digital," or created digitally. Only a small portion of collections are available online.</p>

<div class="form-group" align="center">
	<form class="form-inline justify-content-center" action="https://archives.albany.edu/catalog">
	      <input class="form-control" type="text" placeholder="Search All Digital Selections..." name="q">
	      <input type="hidden" name="search_field" value="all_fields">
	      <button type="submit" class="btn btn-primary">Search</button>
	</form>
</div>

</div>

<div class="col-xs-12 sequence">

		{% for page in site.selections %}

			{% unless page.col_id contains "ua" %}

				{% if page.top_level %}
					{% if page.ref_id %}
						{% assign page_file = "desc_" | append: page.ref_id %}
					{% else %}
						{% assign page_file = "desc_" | append: page.col_id | replace: ".", "-" %}
					{% endif %}

					<a id="" class="itemLink" href="{{ site.url }}{{ page.url }}">
						<div class="galleryItem img-thumbnail">
							<div class="galleryThumb">
								<img id="{{ page.url }}" class="galleryImage" src="{{ page.img }}" alt="{{ page.title }}" />
							</div>
							<div class="galleryLabel">
								<h4>
									<p>{{ page.title }}</p>
								</h4>
								{% if site.data[page_file]["document"]["scopecontent_ssm"] %}
									<p class="abstract">{{ site.data[page_file]["document"]["scopecontent_ssm"][0] | truncate: 100 }}</p>
								{% endif %}
							</div>
						</div>
					</a>
				{% endif %}

			{% endunless %}


		{% endfor %}
	</div>
	<div class="clearfix"></div>

	<div class="page-header">
		<h3>University Archives</h3>
	</div>

	<div class="col-xs-12 sequence">

		{% for page in site.selections %}

			{% if page.col_id contains "ua" %}

				{% if page.top_level %}
					{% if page.ref_id %}
						{% assign page_file = "desc_" | append: page.ref_id %}
					{% else %}
						{% assign page_file = "desc_" | append: page.col_id | replace: ".", "-" %}
					{% endif %}

					<a id="" class="itemLink" href="{{ site.url }}{{ page.url }}">
						<div class="galleryItem img-thumbnail">
							<div class="galleryThumb">
								<img id="{{ page.url }}" class="galleryImage" src="{{ page.img }}" alt="{{ page.title }}" />
							</div>
							<div class="galleryLabel">
								<h4>
									<p>{{ page.title }}</p>
								</h4>
								{% if site.data[page_file]["document"]["scopecontent_ssm"] %}
									<p class="abstract">{{ site.data[page_file]["document"]["scopecontent_ssm"][0] | truncate: 100 }}</p>
								{% endif %}
							</div>
						</div>
					</a>
				{% endif %}

			{% endif %}


		{% endfor %}
	</div>
	<div class="clearfix"></div>