

#collectionPage {
	/*height: 100%;*/
	padding: 0px 20px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.breadcrumb {
	position: fixed;
	top: 127px;
	/*background-color: #EBE6F0;*/
	z-index: 500;
	width: 100%;
	white-space: nowrap;
	margin-left: -15px;
	margin-right: -15px;
}

.breadcrumb a {
	color: #46166B;
}

.breadcrumb a:hover, .breadcrumb a:active  {
	color: #eaaa00;
}

.section {
	min-height: 100% !important;
	height: auto !important;
}

.jumbotron {
	margin-bottom: 20px;
}

.jumbotron p {
	font-size: 14px;
}

#buttonPDF {
	padding: 0px 30px 10px 0px;
}

#buttonPDF button {
	margin: 10px 0px;
}


#seeAlsoList {
	float: left;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	width: 100%;
	margin-bottom: 20px;
	
}

#seeAlsoList ul {
	margin: 5px 0px;
	padding: 0;
    list-style-type: none;
}

.seeAlso {
	list-style: none;
	display: inline;
	white-space: nowrap;
	padding-right: 5px;
}

.seeAlsoItem {
	display: inline;
}

.seeAlsoItem:not(:last-child):after {
	content: "|";
	color: #DDD;
	padding-left: 5px;
	padding-right: 5px;
}


.viewAll {
	cursor: pointer;
	display: inline;
}

#buttonPDF .fa-file-pdf-o {
	color: crimson;
	font-size: 18pt;
}


#buttonPDF .btn {
	margin-right: 10px;
}

#collectionDesc {
	margin-left: -15px;
}

/*collection-level panel dropdowns */
.container-fluid .page-header h3 {
	font-size: 14pt;
	margin: 0px 0px 5px 0px;
}
#collectionDesc .page-header {
	padding-bottom: 0px;
	margin: 0px 0px 5px 0px;
}

#collectionDesc .panel-heading {
	background-color: #EBE6F0;
	color: #46166B;
	border-radius: 0px;
	cursor: pointer;
}

#collectionDesc .panel-default {
	border-color: #EBE6F0;
	margin: 5px 0px;
	/*box-shadow: 0 0 1px #46166B;*/
}

#collectionDesc .panel-heading:hover a {
	color: #403a60;
}

#collectionDesc .panel-heading:hover i {
	color: #eaaa00;
}

.cmpnts .page-header {
	padding-bottom: 0px;
	margin: 0px 0px 5px 0px;
}

.cmpnts .page-header h4 * {
	float: left;
}

.cmpnts .page-header i {
	margin-right: 10px;
}

.cmpnts .panel-heading {
	background-color: #EBE6F0;
	color: #46166B;
	border-radius: 0px;
	cursor: pointer;
}

.cmpnts .panel-default {
	border-color: #EBE6F0;
	margin: 5px 0px;
	/*box-shadow: 0 0 1px #46166B;*/
}

.cmpnts #collectionDesc .panel-heading:hover a {
	color: #403a60;
}

.cmpnts #collectionDesc .panel-heading:hover i {
	color: #eaaa00;
}

.searchGlyph:hover {
	color: #eaaa00;
}

.unitID {
	display: none;
}

.restrictIcon {
	color: red;
	font-size: 9pt;
	vertical-align: top;
	cursor: pointer;
}

.hiddenRow p {
	padding: 10px !important;
}

.hiddenRow td {
	padding: 0px !important;
}


.restrictDiv {
	display: none;
	color: red;
}

.section .col-md-6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.section table * {
	font-size: 10pt;
}


.moreBtn {
	font-size: 0.6em;
	color: #46166B;
	cursor: pointer;
}

.moreBtn {
	padding: 5px 5px;
	margin-left: 10px;
	font-size: 9pt;
}

.physdescLabel {
	font-weight: 600;
}

.purpleHead {
	color: #EBE6F0;
	background-color: #46166B;
	vertical-align: middle;
}

.purpleHead .btn {
	background-color: #EBE6F0;
	color: #403a60;
	padding: 4px 10px;
}

.purpleHead th {
	vertical-align: middle !important;
	font: 12pt "Roboto", Helvetica, Arial, sans-serif !important;
}


.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #46166B;
  border-color: #46166B;
}
.checkbox {
	margin: 0px;
}

.requestColumn * {
	float: left;
}

.requestColumn i {
	margin-right: 10px;
	font-size: 13pt;
}

.fa-file-text {
	font-size: 13pt !important;
}