
.galleryThumb img {
	max-width: 100px;
	max-height: 120px;
	margin: 10px;
}

.galleryItem {
	display: flex;
	align-items: center;
	margin: 10px;
}

.galleryLabel {
	flex-grow: 4;
	padding: 20px;
}

/*.galleryLabel p.abstract {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}*/

@media only screen and (min-width: 550px) {
	.online-content-search {
		min-width: 500px;
	}
}

.desc {
  font-size: 14px;
  line-height: 1.5;
}

/*.desc .collapse[aria-expanded="false"] {
    display: block;
    height: 42px !important;
    overflow: hidden;
}
.desc .collapsing[aria-expanded="false"] {
    height: 42px !important;
}*/

.desc .collapse:not(.show) {
  display: block;
  /* height = lineheight * no of lines to display */
  height: 4.5em;
  overflow: hidden;
}

.desc .collapsing {
  height: 4.5em;
}

.desc a { cursor: pointer; }


.sequence {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-bottom: 30px;
}

.sequence-small .itemLink {
	max-width: 300px;
}

@media only screen and (min-width: 1500px) {
	.sequence-small .itemLink {
		max-width: 420px;
	}
}

.page-header .label {
	font-size: 50%;
	vertical-align: top;
}

.oc-menu .card-body ul {
	padding-left: 0;
}

.oc-menu .list-group-item-primary {
	background-color: #EBE6F0;
	color: #403a60;
	cursor: pointer;
	border-color: #EBE6F0;
}

.oc-menu .list-group-item-primary:hover,  .list-group-item-primary:active, .list-group-item-primary:focus {
	background-color: #46166B;
	border-color: #46166B;
	color: #EBE6F0;
	text-decoration: none;
}