---
layout: spe_base_1
---

{% assign sortedCollections = site.data.collections | sort: 'filing_title' %}
{% assign menu = site.emptyArray %}
{% assign letters = site.emptyArray %}

<script type="text/javascript" src="{{ site.url }}/js/headerAffix.js"></script>

<div class="container">
	<div class="row no-gutter" id="wrapper" title="alphaList">
		<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
		<div class="col-md-2" id="browseNav">
			<div class="panel panel-default">
				<div class="nav list-group">
					<li class="list-group-item"><a id="link-about" href="#">Top</a></li>

					{% for collection in sortedCollections %}
						{% if collection.id contains page.filter %}
							{% assign letter = collection.filing_title | slice: 0 %}
							{% unless menu contains letter %}
								<li class="list-group-item"><a id="link-{{ letter }}" href="#{{ letter }}">{{ letter }}</a></li>
								{% assign menu = menu | push: letter %}
							{% endunless %}
						{% endif %}
					{% endfor %}

				</div>
			</div>
		</div>
		<div class="col-md-9 col-md-offset-3 alphaContent">
			<a class="anchor" id="about"></a>
			<div class="jumbotron">
				<h2>{{ page.title }}</h2>
				<h4>{{ page.subtitle }}</h4>
			</div>
			<p class="pAbout">{{ page.about_text}}</p>
			{{ content }}
			<hr/>
			<div class="appendContent">
				
				{% for collection in sortedCollections %}
					{% if collection.id contains page.filter %}
						{% assign letter = collection.filing_title | slice: 0 %}
						{% unless letters contains letter %}
							<div id="{{ letter }}" class="anchor"></div>
							{% assign letters = letters | push: letter %}
						{% endunless %}
						<a name="{{ collection.id }}" class="anchor"></a>
						{% assign title = collection.filing_title | split: ";" %}

						<div class="panel panel-default">
							<div class="panel-heading">
								{% if collection.dacs %}
									<a href="https://archives.albany.edu/description/catalog/{{ collection.id }}">
										<div class="panel-title pull-left">
											<h3>{{ title[0] }}</h3>
											<h5> {{ title [1] }}, {{ collection.date }}</h5>
										</div>
									</a>
								{% else %}
									<div class="panel-title pull-left">
										<h3>{{ title[0] }}</h3>
										<h5> {{ title [1] }}, {{ collection.date }}</h5>
									</div>
									<button class="btn btn-primary requestModel pull-right" id="{{ collection.id }}: {{ collection.title }}" type="button" data-toggle="modal" data-target="#requestBrowse">
										<i class="glyphicon glyphicon-folder-close"></i> Request
									</button>
								{% endif %}
								<div style="clear:both;"></div>
							</div>
							<div class="panel-body">
								<p>{{ collection.abstract }}</p>
								{% for extent in collection.extent %}
									<p><i>{{ extent }}</i></p>
								{% endfor %}
							</div>
						</div>
					{% endif %}
				{% endfor %}

			</div>
		</div>	
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="requestBrowse">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
		<h4 class="modal-title">Request the materials you selected:</h4>
	  </div>
	  <div class="modal-body">
		<p>Archival materials can be view in-person in our reading room, located on the top floor of the Science Library on the Uptown Campus. Making an appointment is not neccessary, but it may help us ensure the items are available when you arrive.</p>
		<p>We can also deliver digital scans for remote research for a fee.</p>
		<div class="alert alert-warning">
		  <strong>Unprocessed Collection</strong> The collection is unprocessed and is likely disorganized. Individual items may be difficult to find. Often we are unable to fulfill remote requests for unprocessed material.
		</div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<a type="button" class="btn btn-primary" id="scheduleVisit" href="https://library.albany.edu/archive/scheduleVisit">Schedule a Visit</a>
		<a type="button" class="btn btn-primary" id="remoteRequest" href="https://library.albany.edu/archive/remoteRequest">Make Remote Request</a>
	  </div>
	</div>
  </div>
</div>