---
layout: spe_base_2
---

<link rel="stylesheet" href="{{ site.url }}/css/oneColumn.css" type="text/css"></link>

<div class="row">
    <div class="container main-container">
        <div id="contentColumn" class="col-md-12 blog">
            <div class="title">
                <h1 class="display-4 card-title text-center">{{ page.title }}</h1>
                <h4 class="author">
                    {% if page.author.size > 0 %}
                        by <span class="author">{{ page.author }}</span> - 
                    {% endif %}
                    <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>
                </h4>
            </div>
            
            {{ content }}

        </div>
    </div>
</div>