---
layout: one_column
---

<link rel="stylesheet" href="{{ site.url }}/css/ua/hyraxGallery.css" type="text/css"></link>
<script type="text/javascript" src="{{ site.url }}/js/hyraxGallery.js"></script>

{% if page.ref_id %}
	{% assign desc_file = "desc_" | append: page.ref_id %}
{% else %}
	{% assign desc_file = "desc_" | append: page.col_id | replace: ".", "-" %}
{% endif %}

<div class="col-md-12">
	{% if site.data[desc_file]["document"]["abstract_ssm"] %}
		<p>{{ site.data[desc_file]["document"]["abstract_ssm"] }}</p>
	{% endif %}
</div>

<div class="form-group" align="center">
<form class="form-inline justify-content-center" action="http://lib-espy-ws-d101.its.albany.edu:8080/description/catalog">
	<label id="searchLabel" for="online-content-search">Search {{ page.title }}</label>
      <input id="online-content-search" class="form-control online-content-search" type="text" placeholder="Search {{ page.title }}..." name="q">
      <input type="hidden" name="f[has_online_content_ssim][]" value="View only online content">
      {% if page.ref_id %}
      	<input type="hidden" name="f[parent_ssi][]" value="{{ page.ref_id }}">
      {% else %}
      	<input type="hidden" name="f[collection][]" value="The Milne School Records, 1890-2004">
      {% endif %}
      <input type="hidden" name="search_field" value="all_fields">
      <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>

<div class="row">
	{% if site.data[desc_file]["document"]["bioghist_ssm"] %}
		<div class="desc col-md-6">
			<div class="pb-2 mt-4 mb-2 border-bottom">
				<h3>History of {{ page.title }}</h3>
			</div>
			<div class="collapse" id="bioghist" aria-expanded="false">
				{% for para in site.data[desc_file]["document"]["bioghist_ssm"] %}
					<p>{{ para }}</p>
				{% endfor %}
			</div>
			<a class="showDesc" data-toggle="collapse" data-target="#bioghist" href="#"><i class="fa fa-arrow-down"></i> More</a>
		</div>
	{% endif %}

	{% if site.data[desc_file]["document"]["scopecontent_ssm"] %}
		<div class="desc col-md-6">
			<div class="pb-2 mt-4 mb-2 border-bottom">
				<h3>Scope and Contents</h3>
			</div>
			<div class="collapse" id="scopecontent" aria-expanded="false">
				{% for para in site.data[desc_file]["document"]["scopecontent_ssm"] %}
					<p>{{ para }}</p>
				{% endfor %}
			</div>
			<a class="showDesc" data-toggle="collapse" data-target="#scopecontent" href="#"><i class="fa fa-arrow-down"></i> More</a>
		</div>
	{% endif %}
</div>

{{ content }}