---
layout: selections_gallery
---

{% if page.ref_id %}
	{% assign data_file = page.ref_id | replace: ".", "-" %}
	{% assign desc_link = page.col_id | replace: ".", "-" | append: "aspace_" | append: page.ref_id %}
{% else %}
	{% assign data_file = page.col_id | replace: ".", "-" %}
	{% assign desc_link = page.col_id | replace: ".", "-" %}
{% endif %}
{% assign uri = "https://archives.albany.edu/description/catalog/" | append: desc_link  %}

<div class="col-md-12">
	<div class="pb-2 mt-4 mb-2 border-bottom">
		<h3>Online Content</h3>
	</div>
	<p>This lists only items that are available online. To see all materials, visit <a href="{{ uri }}">{{ page.title }} Collection Page</a>.</p>

	<div class="col-xs-12 sequence sequence-small">
		{% for series in site.selections %}

			{% if series.col_id == page.col_id %}
				{% unless series.id == page.id %}

					{% assign series_file = "desc_" | append: series.ref_id | replace: ".", "-" %}

					<a id="" class="itemLink" href="{{ site.url }}{{ series.url }}">
						<div class="galleryItem img-thumbnail">
							<div class="galleryThumb">
								<img id="{{ series.url }}" class="galleryImage" src="{{ series.img }}" alt="{{ series.title }}" />
							</div>
							<div class="galleryLabel">
								{% if site.data[series_file]["document"]["scopecontent_ssm"] %}
									<h4>
										<p>{{ series.title }}</p>
									</h4>
								{% else %}
									<h4>
										<p>{{ series.title }}, {{ site.data[series_file]["document"]["unitdate_ssm"][0] }}</p>
									</h4>
								{% endif %}
								{% if site.data[series_file]["document"]["scopecontent_ssm"] %}
									<p class="abstract">{{ site.data[series_file]["document"]["scopecontent_ssm"][0] | truncate: 100 }}</p>
								{% endif %}
							</div>
						</div>
					</a>
				{% endunless %}
			{% endif %}

		{% endfor %}

		{{ content }}

	</div>

	<div class="clearfix"></div>
</div>