---
layout: selections_gallery
---

<div class="col-md-12">
	<div class="page-header">
		<h3>Online Content</h3>
	</div>

	<div class="col-xs-12 sequence">
		{% for series in site.selections %}

			{% if series.col_id == page.col_id %}
				{% unless series.id == page.id %}

					{% assign series_file = "desc_" | append: series.ref_id | replace: ".", "-" %}

					<a id="" class="itemLink" href="{{ site.url }}{{ series.url }}">
						<div class="galleryItem img-thumbnail">
							<div class="galleryThumb">
								<img id="{{ series.url }}" class="galleryImage" src="{{ series.img }}" alt="{{ series.title }}" />
							</div>
							<div class="galleryLabel">
								<h4>
									<p>{{ series.title }}</p>
								</h4>
								{% if site.data[series_file]["document"]["scopecontent_ssm"] %}
									<p class="abstract">{{ site.data[series_file]["document"]["scopecontent_ssm"][0] | truncate: 100 }}</p>
								{% endif %}
							</div>
						</div>
					</a>
				{% endunless %}
			{% endif %}

		{% endfor %}
	</div>
	<div class="clearfix"></div>
</div>