---
layout: one_column
---

<link rel="stylesheet" href="{{ site.url }}/css/ua/hyraxGallery.css" type="text/css"></link>
<script type="text/javascript" src="{{ site.url }}/js/hyraxGallery.js"></script>

{% if page.ref_id %}
	{% assign desc_file = "desc_" | append: page.ref_id %}
{% else %}
	{% assign desc_file = "desc_" | append: page.col_id | replace: ".", "-" %}
{% endif %}

<div class="col-md-12">
	{% if site.data[desc_file]["document"]["abstract_ssm"] %}
		<p>{{ site.data[desc_file]["document"]["abstract_ssm"] }}</p>
	{% endif %}
</div>

<div class="form-group" align="center">
<form class="form-inline" action="https://archives.albany.edu/catalog">
      <input class="form-control" type="text" placeholder="Search {{ page.title }}..." name="q">
      <input type="hidden" name="f[collection_number_sim][]" value="{{ page.col_id }}">
      {% if page.ref_id %}
      	<input type="hidden" name="f[record_parent_sim][]" value="{{ page.ref_id }}">
      {% endif %}
      <input type="hidden" name="search_field" value="all_fields">
      <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>


{% if site.data[desc_file]["document"]["bioghist_ssm"] %}
	<div class="desc col-md-6">
		<div class="page-header">
			<h3>History of {{ page.title }}</h3>
		</div>
		<div class="collapse" id="bioghist" aria-expanded="false">
			{% for para in site.data[desc_file]["document"]["bioghist_ssm"] %}
				<p>{{ para }}</p>
			{% endfor %}
		</div>
		<a class="showDesc" data-toggle="collapse" data-target="#bioghist"><i class="fa fa-arrow-down"></i> More</a>
	</div>
{% endif %}

{% if site.data[desc_file]["document"]["scopecontent_ssm"] %}
	<div class="desc col-md-6">
		<div class="page-header">
			<h3>Scope and Contents</h3>
		</div>
		<div class="collapse" id="scopecontent" aria-expanded="false">
			{% for para in site.data[desc_file]["document"]["scopecontent_ssm"] %}
				<p>{{ para }}</p>
			{% endfor %}
		</div>
		<a class="showDesc" data-toggle="collapse" data-target="#scopecontent"><i class="fa fa-arrow-down"></i> More</a>
	</div>
{% endif %}

{{ content }}