---
layout: selections_gallery
---

{% if page.ref_id %}
	{% assign data_file = page.ref_id | replace: ".", "-" %}
	{% assign desc_link = page.col_id | replace: ".", "-" | append: "aspace_" | append: page.ref_id %}
{% else %}
	{% assign data_file = page.col_id | replace: ".", "-" %}
	{% assign desc_link = page.col_id | replace: ".", "-" %}
{% endif %}
{% assign uri = "https://archives.albany.edu/description/catalog/" | append: desc_link  %}

<div class="col-md-12">
	<div class="pb-2 mt-4 mb-2 border-bottom">
		<h3>Online Content</h3>
	</div>
	<p>This lists only items that are available online. To see all materials, visit <a href="{{ uri }}">{{ page.title }} Collection Page</a>.</p>

	<div class="col-xs-12 sequence sequence-small">

		{{ content }}

	</div>

	<div class="clearfix"></div>
</div>