<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<!-- Google Tag Manager -->
	    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	    })(window,document,'script','dataLayer','GTM-TT7MCFB');</script>
	    <!-- End Google Tag Manager -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8; charset=UTF-8" />
		<title>{{ page.title }} | M.E. Grenander Department of Special Collections & Archives</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="{{ site.url }}/icons/ua/mainLogo.ico"></link>
		<script type="text/javascript" src="{{ site.url }}/js/jquery-2.2.3.min.js"></script>
		<link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="{{ site.url }}/css/font-awesome.min.css"></link>
		<script type="text/javascript" src="{{ site.url }}/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{{ site.url }}/oldDrupal/css/ua/headerNavbar.css" type="text/css"></link>
		<link rel="stylesheet" href="{{ site.url }}/css/ua/browseNav.css" type="text/css"></link>
		<link rel="stylesheet" href="{{ site.url }}/css/ua/searchSubnav.css" type="text/css"></link>
		<link rel="stylesheet" href="{{ site.url }}/css/simple-sidebar.css" type="text/css"></link>
		<link rel="stylesheet" href="{{ site.url }}/css/ua/twoColumnSideMobile.css" type="text/css"></link>
		<script type="text/javascript" src="https://archives.albany.edu/browse/js/searchHandler.js"></script>
		<script type="text/javascript" src="{{ site.url }}/js/bgRandom.js"></script>	
	</head>
	<body data-spy="scroll" data-target="#browseNav">
		<!-- Google Tag Manager (noscript) -->
	    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TT7MCFB"
	    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	    <!-- End Google Tag Manager (noscript) -->

  			<div class="alert alert-warning alert-dismissible spe-alert" role="alert" style="margin-bottom: 0px">
  				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  				<div class="container">
  					The M.E. Grenander Special Collections & Archives’ Research Room is open by appointment only during normal business hours. We may also be able to fulfill some requests remotely. <a href="{{ site.url }}/covid-19">More details</a>.
  				</div>
  			</div>
		<div id="page-content-wrapper">

			<!-- Navigation -->
			<nav class="navbar navbar-inverse navbar-top" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!--<a class="navbar-brand" href="{{ site.url }}/"><img src="{{ site.url }}/icons/ua/mainLogo.png" height="75px" /></a>-->
						<div class="navbar-brand">
							<a class="logo" data-toggle="tooltip" title="Archives Home" href="https://archives.albany.edu">
								<img src="{{ site.url }}/icons/ua/mainLogo.png" />
							</a><a data-toggle="tooltip" title="UAlbany Libraries" class="ualbany" href="https://library.albany.edu/">
								<img src="{{ site.url }}/icons/ua/ualbany.png" />
							</a>
							<a class="smallLogo" data-toggle="tooltip" title="Archives Home" href="https://archives.albany.edu"><img src="{{ site.url }}/icons/ua/mainLogo.png"></img></a>
						</div>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav" id="topNavMenu">
							<!--<li class="dropdown"><a href="{{ site.url }}/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">UAlbany <span class="caret"></span></a><ul class="dropdown-menu"><li><a href="https://www.albany.edu/">UAlbany, SUNY</a></li><li><a href="https://library.albany.edu/">University Libraries</a></li></ul></li>-->
							<li class="dropdown">
								<a href="{{ site.url }}/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Collections <span class="caret"/>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="{{ site.url }}/collections">About Collections</a>
									</li>
									<li>
										<a href="https://archives.albany.edu/browse/apap.html">NY State Modern Political Archive</a>
									</li>
									<li>
										<a href="https://archives.albany.edu/browse/91.html">National Death Penalty Archive</a>
									</li>
									<li>
										<a href="https://archives.albany.edu/browse/ger.html">German Intellectual Émigré</a>
									</li>
									<li>
										<a href="{{ site.url }}/ua">University Archives</a>
									</li>
									<li>
										<a href="{{ site.url }}/mathes">Mathes Childrens Literature</a>
									</li>
									<li>
										<a href="https://archives.albany.edu/browse/mss.html">Business and Literary Manuscripts</a>
									</li>
									<li>
										<a href="{{ site.url }}/books">Rare Books</a>
									</li>
									<li role="separator" class="divider"></li>
									<li>
										<a href="https://archives.albany.edu/browse/alpha.html">A-Z Complete List of Collections</a>
									</li>
									<li>
										<a href="https://archives.albany.edu/browse/subjects.html">Subject Guides to Collections</a>
									</li>
									<li>
										<a href="{{ site.url }}/historicalresources/">Find Other Historical Repositories</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="{{ site.url }}/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Digital Selections <span class="caret"/>
								</a>
								<ul class="dropdown-menu">
									<li><a href="{{ site.url }}/selections">About Digital Selections</a></li>
                                    <li><a href="{{ site.url }}/selections/uaphotos">University Photograph Collections</a></li>
                                    <li><a href="{{ site.url }}/selections/asp">Albany Student Press</a></li>
                                    <li><a href="{{ site.url }}/selections/senate">University Senate Legislation</a></li>
                                    <li><a href="{{ site.url }}/selections/yearbooks">Yearbook Collection</a></li>
                                    
                                    <li><a href="{{ site.url }}/selections/milne">The Milne School</a></li>
                                    <li><a href="{{ site.url }}/selections/wamc">WAMC Northeast Public Radio</a></li>
                                    <li><a href="{{ site.url }}/selections/csea">CSEA Publications</a></li>
                                    <li><a href="{{ site.url }}/selections/uup">United University Professions (UUP)</a></li>
                                    <li><a href="{{ site.url }}/selections/studer">Norman Studer</a></li>
                                    
								</ul>
							</li>
							<li class="dropdown">
								<a href="{{ site.url }}/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exhibits <span class="caret"/>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="{{ site.url }}/chronology">Chronological History of UAlbany</a>
									</li>
									<li>
										<a href="{{ site.url }}/onthemake">University on the Make, 1960-1970</a>
									</li>
									<li>
										<a href="{{ site.url }}/seeger">Remembering Pete Seeger</a>
									</li>
									<li>
										<a href="{{ site.url }}/exhibitmilne">The Milne School Murals</a>
									</li>
									<li>
										<a href="https://archives.albany.edu/static/exhibits/campusbuildings/index.htm">Campus Buildings Historical Tour <span class="glyphicon glyphicon-new-window"></span></a>
									</li>
									<li>
										<a href="https://archives.albany.edu/static/exhibits/marciabrown/index.htm">Marcia Brown Exhibit and Resource Website <span class="glyphicon glyphicon-new-window"></span></a>
									</li>
									<li>
										<a href="https://archives.albany.edu/static/exhibits/secretlives/index.htm">The Secret Lives of Toys and Their Friends <span class="glyphicon glyphicon-new-window"></span></a>
									</li>
									<li>
										<a href="{{ site.url }}/exhibits">More...</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="{{ site.url }}/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Donors &amp; Records <span class="caret"/>
								</a>
								<ul class="dropdown-menu">
									<li><a href="{{ site.url }}/outside_donors">Outside Donations of Records</a></li>
									<li><a href="{{ site.url }}/giving">Giving to the Archives</a></li>
									<!--<li role="separator" class="divider"></li>
									<li><a href="{{ site.url }}/ua/transferform">Transfer University Records</a></li>-->
									<li><a href="{{ site.url }}/ua/faq">University Records FAQ</a></li>
									<!--<li><a href="{{ site.url }}/ua/recordsCharts">University Records Charts</a></li>-->
									<!--<li><a href="{{ site.url }}/ua/recordsLaws">About SUNY Records Laws</a></li>-->
									<!--<li><a href="https://wiki.albany.edu/display/public/askit/Information+Security+Domains%2C+Supporting+Protocols+and+Procedures">About CIO Data Classification System <span class="glyphicon glyphicon-new-window"></span></a></li>-->
								</ul>
							</li>
							<li class="dropdown">
								<a href="{{ site.url }}/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"/>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="{{ site.url }}/mission">Mission &amp; Purpose</a>
									</li>
									<li>
										<a href="{{ site.url }}/visit">Using the Archives</a>
									</li>
									<li>
										<a href="{{ site.url }}/directions">Hours and Directions</a>
									</li>
                                    <li>
										<a href="{{ site.url }}/blog">News</a>
									</li>
									<li>
										<a href="{{ site.url }}/awards">Awards</a>
									</li>
									<li>
										<a href="{{ site.url }}/publish_cite">Publishing &amp; Citing</a>
									</li>
									<li>
										<a href="{{ site.url }}/staff">Staff</a>
									</li>
                                    <li>
										<a href="https://wiki.albany.edu/pages/viewpage.action?pageId=80544001">Documentation Site</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="https://albany.libwizard.com/f/contactus?i_have_a_questi=Special%20Collections%20%26%20Archives">Contact</a>
							</li>
							    <div id="stickysearchBox">
							<a role="button" id="toggleSearch" class="btn"><i class="fa fa-search"></i></a>
						  </div>
						</ul>
					</div>
				</div>
			</nav>
            
        <div id="searchSub" class="navbar navbar-expand-sm searchSubnav">

         <div class="container">
            

                <form class="search-query-form hyraxSearch" role="search" action="https://archives.albany.edu/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓"></input>
                  
                    <input type="hidden" name="search_field" id="search_field" value="all_fields"></input>
                      <div class="input-group">
                        <input name="q" id="params-q" value="" placeholder="Search everything..." class="search_q q form-control tt-input" type="text"></input>
                        <input type="hidden" name="search_field" id="search_field" value="all_fields"></input>
                        <div class="input-group-btn">
                            <button id="currentSelection" class="btn btn-secondary dropdown-toggle searchSelect" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Everything<span class="caret"></span>
                           </button>
                           <button class="btn btn-secondary dropdown-toggle searchSelect noText" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right searchOptions">
                              <li><a class="dropdown-item" id="allSearch" data="allSearch" href="{{ site.url }}/#">Everything</a></li>
                              <li><a class="dropdown-item" id="arclightSearch" data="arclightSearch" href="{{ site.url }}/#">Collections</a></li>
                              <li><a class="dropdown-item" id="hyraxSearch" data="hyraxSearch" href="{{ site.url }}/#">Digital Selections</a></li>
                            </div>
                        </div>
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                          </div>
                      </div>
                </form>
                <a class="aboutSearch" href="https://archives.albany.edu/search"><i class="fa fa-question-circle"></i> Search Help</a>

            </div>

        </div>

        {% if page.title == "M.E. Grenander Department of Special Collections & Archives" %}

			<div id="mainContent">
				{{ content }}		
				<div class="container">
					<div class="row">
						<div class="footer col-md-12 text-center text-muted">
							<div class="spc-footer">
						<div class="footLeft">
							<p>Open to the public Monday-Friday, 9am-5pm</p>
							<p>Closed for some state holidays and winter intersession</p>
							<p>Located on the top floor of the Science Library on the Uptown Campus</p>
							<p><a href="{{ site.url }}/directions">Hours and Directions</a></p>
						</div>
						<div class="footRight">
							<p>M. E. Grenander Department of Special Collections &amp; Archives</p>
							<p>Science Library 350</p>
							<p>1400 Washington Avenue</p>
							<p>Albany, NY 12222</p>
							<p>(518) 437-3935</p>
						</div>
						<div style="clear: both;"></div>
					</div>
						</div>
					</div>
				</div>
			</div>

		{% else %}

			<div id="mainContent">
				{{ content }}
			</div>
			<div class="container">
				<div class="row">
					<div class="footer col-md-12 text-center text-muted">
						<div class="spc-footer">
					<div class="footLeft">
						<p>Open to the public Monday-Friday, 9am-5pm</p>
						<p>Closed for some state holidays and winter intersession</p>
						<p>Located on the top floor of the Science Library on the Uptown Campus</p>
						<p><a href="{{ site.url }}/directions">Hours and Directions</a></p>
					</div>
					<div class="footRight">
						<p>M. E. Grenander Department of Special Collections &amp; Archives</p>
						<p>Science Library 350</p>
						<p>1400 Washington Avenue</p>
						<p>Albany, NY 12222</p>
						<p>(518) 437-3933</p>
					</div>
					<div style="clear: both;"></div>
				</div>
					</div>
				</div>
			</div>

		{% endif %}
		
		</div>
		<!-- loads Contact modal -->
		<script src="https://apps.library.albany.edu/host/archives/contact-archives.js"></script>
	</body>
</html>