---
layout: selections_gallery
---

{% assign yearList = site.emptyArray %}

{% if page.ref_id %}
	{% assign data_file = page.ref_id | replace: ".", "-" %}
	{% assign desc_link = page.col_id | replace: ".", "-" | append: "aspace_" | append: page.ref_id %}
{% else %}
	{% assign data_file = page.col_id | replace: ".", "-" %}
	{% assign desc_link = page.col_id | replace: ".", "-" %}
{% endif %}
{% assign uri = "https://archives.albany.edu/description/catalog/" | append: desc_link  %}

<div class="col-md-12">

	<div class="pb-2 mt-4 mb-2 border-bottom">
		<h3>Online Content</h3>
	</div>
	<p>This lists only items that are available online. To see all materials, visit <a href="{{ uri }}">{{ page.title }} Collection Page</a>.</p>

	{{ content }}

	{% for obj in site.data[data_file] %}
		{% assign year = obj.date | split: " " %}
		{% assign decade = year[0] | slice: 0, 3 %}		

		{% unless yearList contains decade %}
			{% assign yearList = yearList | push: decade %}
			{% if page.thumbs %}
				</ul>
			{% endif %}
			<div class="pb-2 mt-4 mb-2 border-bottom col-md-12">
			  <h4>{{ decade }}0s</h4>
			</div>
			{% if page.thumbs %}
				<ul class="row">
			{% endif %}
		{% endunless %}
		{% if page.thumbs %}
			<a id="" class="itemLink col-md-6" href="{{ obj.url }}">
				<div class="galleryItem img-thumbnail">
					<div class="galleryThumb">
						<img id="{{ obj.url }}" class="galleryImage" src="{{ obj.thumb }}" alt="{{ obj.title }}" />
					</div>
					<div class="galleryLabel">
						<h4>
							<p>{{ obj.title }},</p>
							<p>{{ obj.date }}</p>
						</h4>
					</div>
				</div>
			</a>
		{% else: %}
			<li>
				<a href="{{ obj.url }}">{{ obj.title }}, {{ obj.date }}</a>
			</li>
		{% endif %}
	{% endfor %}

</div>