---
layout: two_column
---

<div class="row">
	<div class="col-md-9 order-md-2">
		{{ content }}
	</div>
	<div class="col-md-3 order-md-1">
		<div class="list-group">
		  <a href="#" class="list-group-item list-group-item-action">Visiting the Archives</a>
		  <a href="#" class="list-group-item list-group-item-action">Hours and Directions</a>
		  <a href="#" class="list-group-item list-group-item-action">Request items for digitization</a>
		  <a href="#" class="list-group-item list-group-item-action">Digital Reproduction Fee Schedule</a>
		  <a href="#" class="list-group-item list-group-item-action">Viewing materials online</a>
		</div>
	</div>
</div>