body {
	background-image: none;
}

@media only screen and (min-width: 991px) {
	body {
		background-image: url("https://library.albany.edu/speccoll/findaids/eresources/static/img/bg.jpg");
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-attachment: fixed;
		background-position: center top;
	}
}


.row {
	margin-left: 0px;
	margin-right: 0px;
}


.pagination a.active {
	color: #fff !important;
}

.pagination a {
	color: #46166B !important;
}

/*@media only screen and (max-width: 991px) {
	body:before {
		  content: "";
		  display: block;
		  position: fixed;
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  z-index: -10;
		  background: url("https://library.albany.edu/speccoll/findaids/eresources/static/img/bgDowntown.jpg") no-repeat center center;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
	}
}*/

@media only screen and (min-width: 991px) {
	body {
		background-attachment: fixed;
	}
}

@media only screen and (min-width: 1100px) {
	body {
		background-size: 100% auto;
	}
}

body > .container .panel {
	/*box-shadow: 0 0 20px #FFFFFF;*/
}	

#page-content-wrapper {
	padding: 0px;
}

.navbar {
	margin-bottom: 0px;
}

#mainContent .row .container #contentColumn {
	background-color: #FFFFFF;
	box-shadow: 0 0 10px #FFFFFF;
	padding: 40px;
}

#mainContent .row .whitebg #contentColumn {
	background-color: #FFFFFF;
	box-shadow: 0 0 10px #FFFFFF;
	padding: 40px;
}

@media only screen and (max-width: 767px) {
	#mainContent .row .container #contentColumn {
			padding: 0px;
	}
}

#mainContent p {
	/*font-size: 13pt;*/
}

.sequence {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 0px;
	margin-top: 20px;
}

.well h4 {
	margin: 10px auto;
	text-align: center;
}

.well {
	width: 300px;
}

/*Big Search Box*/
	.searchBig a {
		color: #EBE6F0;
	}
	.searchBig .sequence {
		padding-bottom: 10px;
		padding-top: 10px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
	.searchBig .sequence * {
		margin: 5px;
	}
	.searchBig {
	padding: 20px 20px;
	height: auto;
	background-color: #46166B;
	}
	.searchBig .btn-primary {
		background-color: #EBE6F0;
		color: #403a60;
		border-color: #403a60;
		border-radius: 0px;
	}
	.searchBig .input-group {
		margin: 0 auto;
		
		width: 100%;
		display: block !important;
		font-size: 25pt;
	}
	.searchBox .input-group input {
		height: 70px;
		margin: 0 auto;
		vertical-align: middle;
		font-size: 30pt;
		width: 85% !important;
		max-width: 100% !important;
	}
	@media (max-width: 600px) {
		.searchBig .input-group-btn {
			display: block;
			margin: 0px auto;
			width: 70px;
		}
		.searchBig .input-group-btn button {
			margin-top: 10px;
		}
		.searchBox .input-group input {
			width: 100% !important;
			border-top-right-radius: 5px !important;
			border-bottom-right-radius: 5px !important;
		}
	}

	.searchBig .btn-primary:hover {
		color: #EBE6F0;
	}
	.searchBox .input-group .btn {
		height: 70px;
		vertical-align: middle;
		font-size: 20pt;
		float: right;
		width: 100%;
	}
	
	.nav-tabs {
	margin-bottom: 20px;
}

.nav-tabs li.active a {
	background-color: #EBE6F0;
}

.nav-tabs li.active a:hover {
	background-color: #ffffff;
}

.nav-tabs li a:hover {
	background-color: #eaaa00; 
	color: #ffffff;
	border-color: #46166B;
	border-bottom: 1px solid #EBE6F0;
}
.nav-tabs li a {
	color: #EBE6F0;
}



.searchBig .sequence .glyphicon {
	font-size: 7pt;
	top: 0px;
}

.form-required {
	font-size: 15pt;
} 


iframe.blogVideo {
	display: block;
	margin: 20 auto;
}

span.author {
	font-weight: bold;
}