
#sidebar-wrapper {
	display: none;
}


@media only screen and (min-width: 767px) {
	#menu-toggle {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.leftNavbar > #sidebar-wrapper {
		display: block;
	}
	
	.leftNavbar > .side-nav {
		display: none;
	}
}

#menu-toggle {
	position: fixed;
	top: 50%;
	left: 0;
	margin: 0;
	background: #000000;
	opacity: 0.6;
	color: #FFFFFF;
	border-radius: 0px;
	z-index: 999;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu-toggle i {
	font-size: 1.2em;
}

.nav > .alert {
	margin: 20px;
}


#collectionMenu .panel {
	margin:  20px 8px;
}


#collectionMenu .panel * {
	margin: 0px;
}

#collectionMenu .panel #tocItem {
	border-bottom: 0px;
}

#collectionMenu #panel1 .list-group-item {
	border-bottom: 0px;
}

#collectionMenu .panel .list-group div .list-group-item {
	padding-left: 35px;
}

#browseNav .panel .list-group div .list-group-item a {
	display: block;
	padding-left: 35px;
}

.list-group-item:hover {
	cursor: pointer;
	background-color: #eee;
}

.list-group-item.open {
	 border-bottom: 5px solid red;
 }

#aboutMenu .list-group-item.open .caret {
	border-top: none;
    border-bottom: 4px solid #000000;
} 

#seriesMenu .list-group-item.open .caret {
	border-top: none;
    border-bottom: 4px solid #000000;
} 

#seriesMenu .sub-button i {
	font-size: 0.6em;
}

#seriesMenu .sub-menu {
	border-top: 1px solid #DDDDDD;
	padding-left: 0px;
}

#seriesMenu .sub-menu a {
	padding-left: 55px !important;
	border-bottom: 0px;
}

#menuPanel > .panel-heading {
	padding: 5px 15px;
}

#collectionMenu .panel-heading a {
	color: #46166B;
}

#collectionMenu .panel-heading a:hover, a:active {
	color: #eaaa00;
}

#collectionMenu .in {
	border-top: 1px solid #DDDDDD;
}

.breadcrumb {
	position: fixed;
	top: 127px;
	/*background-color: #EBE6F0;*/
	z-index: 500;
	width: 100%;
	white-space: nowrap;
}

.breadcrumb a {
	color: #46166B;
}


#topSpacer {
	position: fixed;
	top: 0;
	height: 20px;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 1000;
}

#menuPanel {
	margin:  20px 8px;
}


.navbar-form > .input-group .btn {
	padding:  5px 8px;
	height: 34px;
}

#searchSelect .dropdown-menu {
	left: -147px;
}

#searchSelect .dropdown-menu > .radio {
	margin: 3px 20px;
	display: block;
}

#searchSelect .dropdown-menu > .radio > label > input {
	margin-right: 5px;
}



.dropdownLogo {
	height: 22px;
}

#menuBtn {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#searchBtn {
	border-radius: 0;
}

#srch-term, #srch-termValue {
	display: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#srch-term2, #srch-termValue2 {
	display: none;
}

/*
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display: none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
	box-shadow:none;
}
.right-caret:after,.left-caret:after
 {	content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.right-caret:after
{	border-left: 5px solid #eaaa00;
}
.left-caret:after
{	border-right: 5px solid #eaaa00;
}*/

/* Mobile left side navbar */

#sidebar-left {
	float: left;
}

#sidebar-wrapper {
	height: 100%;
}

.navbar-nav #fa-brand a {
	text-align: center;
	font: 12pt Vani, Palatino,"Palatino Linotype","Times New Roman",serif !important;
	border-bottom: 4px solid #eaaa00;
	color: #EBE6F0 !important;
	background-color: #46166B;
}

#sidebar-wrapper > .navbar-nav .alert {
	margin: 5px 10px 0px 10px;
	color: #EBE6F0;
	background-color: #46166B;
	font-weight: 300;
}

#sidebar-wrapper > .navbar-nav .alert a {
	color: #eaaa00;
}

#sidebar-wrapper > .navbar-nav .alert a:hover {
	color: #EBE6F0;
}

#sidebar-wrapper > .navbar-nav {
	margin: 0px;
	border-radius: 0px;
}

#sidebar-wrapper > .navbar-nav li .dropdown-menu a {
	border-radius: 0px;
	font: 10pt "Roboto", Helvetica, Arial, sans-serif;
	padding: 10px 5px 10px 30px;
}

#sidebar-wrapper > .navbar-nav li.open dropdown-menu {
	background-color: #46166B;
	border-radius: 0px;
}

#sidebar-wrapper > .navbar-nav li.open a {
	background-color: #46166B;
	color: #EBE6F0;
	border: 0px;
}

#sidebar-wrapper > .navbar-nav li.open > a {
	border-radius: 5px;
}

#sidebar-wrapper > .navbar-nav li.open .dropdown-menu a:hover {
	background-color: #EBE6F0;
	color: #46166B;
	border-radius: 5px;
}

#sidebar-wrapper > .navbar-nav li a {
	font-size: 10pt;
	color: #46166B;
}

#contents-brand a {
	background-color: #46166B;
	color: #EBE6F0 !important;
	border-top: 3px solid #eaaa00;
	border-bottom: 3px solid #eaaa00;
	padding: 5px 0px 0px 5px !important;
}

#panel4 li a {
	padding: 10px 0px 4px 15px;
}

#panel4 .sub-button i {
	font-size: 0.6em;
}

#panel4 .sub-menu {
	border-top: 1px solid #DDDDDD;
	padding-left: 0px;
}

#panel4 .sub-menu a {
	padding-left: 55px !important;
	border-bottom: 0px;
}

.side-nav .requestModel {
	margin-left: 20px;
}

#sidebar-wrapper .requestModel {
	margin-bottom: 5px;
	margin-left: 10px;
	padding: 4px 10px;
}

